.bluenavbar.fixed {
    margin-top: 60px;
    border-top: 5px solid #20c0e8;
}
.minheight-5 {
    min-height: 5px;
}
.searchinput{
    height: 45px;
    max-width: 300px;
    box-sizing: border-box;
    padding: 15px;
}
.home-dropdwn {
    height: 45px;
    width: 190px;
    padding: 0 15px;
    font-size: 16px;
}
.main-search-input {
    background: #fff;
    padding: 0 120px 0 0;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.3)
}

.fl-wrap {
    float: left;
    width: 100%;
    position: relative
}

.main-search-input:before {
    content: '';
    position: absolute;
    bottom: -40px;
    width: 50px;
    height: 1px;
    background: rgba(255, 255, 255, 0.41);
    left: 50%;
    margin-left: -25px
}

.main-search-input-item {
    float: left;
    width: 100%;
    box-sizing: border-box;
    border-right: 1px solid #eee;
    height: 50px;
    position: relative
}

.main-search-input-item input:first-child {
    border-radius: 100%
}

.main-search-input-item input {
    float: left;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px
}

.main-search-button {
    background: #9ccc47
}

.main-search-button {
    position: absolute;
    right: 0px;
    height: 50px;
    width: 120px;
    color: #fff;
    top: 0;
    border: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer
}

.main-search-input-wrap {
    max-width: 500px;
    margin: 20px auto;
    position: relative
}

:focus {
    outline: 0
}

@media only screen and (max-width: 768px) {
    .main-search-input {
        background: rgba(255, 255, 255, 0.2);
        padding: 14px 20px 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.0)
    }

    .main-search-input-item {
        width: 100%;
        border: 1px solid #eee;
        height: 50px;
        border: none;
        margin-bottom: 10px
    }

    .main-search-input-item input {
        border-radius: 6px !important;
        background: #fff
    }

    .main-search-button {
        position: relative;
        float: left;
        width: 100%;
        border-radius: 6px
    }
}

.span2.ranm {
    margin-left: 0;
    margin-right: 1.25% !important;
    margin-bottom: 20px !important;
    width: 23.3% !important;
    float: left !important;
    border-radius: 4px !important;
}
.cat a, .citi a {
    color: #fff !important;
    text-decoration: none !important;
}
.overlay {
    height: 100px!important;
    background: rgba(0,0,0,.6)!important;
    border-radius: 4px!important;
}
.overlay p {
    text-align: center !important;
    height: 70px !important;
    line-height: 110px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    font-family: pn-semibold;
    color: #fff;
}
.btn-large {
    padding: 11px 19px !important;
    font-size: 16.25px !important;
    border-radius: 0 !important;
    border: 1px solid #ccc !important;
    border-bottom-color: #b3b3b3 !important;
    border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6)!important;
}
@media (max-width: 767px){
    .span2.ranm {
        margin-right: 1.25%!important;
        margin-left: 1.25%!important;
        margin-bottom: 10px!important;
        width: 47.5%!important;
    }
}    
.home-emanage{
    background: #fff;
    padding-top: 50px;
    min-width: 100%;
    height:32em;
}
.home-emanage .left{
    margin: 0;
    margin-top: 5%;
    float: right;
}
.home-emanage .right{
    margin: 0;
}
.home-emanage .right img{
    width: 75%;
}
.home-emanage .left h3{
    font-size: 26px;
}
.home-emanage .left h4{
    font-size: 20px;
    text-transform: none;
}
.home-emanage .left p{
    margin-bottom: 20px;
    max-width: 460px;
    font-size: 15px;
    line-height: 1.5;
    font-family: pn-regular,arial;
}
.home-emanage .left img{
    width: 140px;
    height: 50px;
}
@media (min-width: 1200px){
    .span6 {
        width: 570px;
    }
}    
@media (max-width: 767px){
    .home-emanage .right {
        display: none;
    }
}
.container-fluid {
    padding-right: 20px;
    padding-left: 20px;
}
.flags-bottom {
    min-height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
    width: 100%;
    max-width: 1130px;
    z-index: 50;
    bottom: 0;
}
.flags-bottom .cont {
    min-height: 40px;
    padding-top: 5px;
    padding-left: 100px;
}
.flags-bottom .cont .flag-list {
    list-style: none;
    margin-left: 5px;
}
.flags-bottom .cont .flag-list li.flag {
    display: inline-block;
}
.flags-bottom .cont .flag-list li .pop-cont {
    display: none;
}
.ml5 {
    margin-left: 5px;
}
li {
    line-height: 20px;
}
@media (min-width: 1200px){
    .row-fluid {
        width: 100%;
    }
}

.whitebar{
    background: #fff !important;
    position: relative !important;
    border-bottom: 1px solid #cacbcf !important;
}
.calendar-nav {
    margin-top: 80px;
}
ul.datemenu {
    position: absolute;
    z-index: 111;
    float: left;
}
ul.datemenu li {
    padding: 0;
}
ul.datemenu, ul.datemenu li, ul.datemenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    margin-top: 3px;
}
ul.datemenu .wmonth {
    font-size: 13px;
    display: block;
    color: #000;
}
ul.datemenu .wyear {
    display: block;
    text-align: center;
    margin-top: -4px;
    font-size: 13px;
    color: #000;
    font-family: pn-semibold,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
ul.datemenu .day {
    display: block;
    text-align: center;
    font-size: 11px;
}
ul.datemenu .wday {
    font-size: 13px;
    color: #ccc;
    visibility: hidden;
    display: block;
    margin-top:-5px;
}
ul.datemenu a.dir {
    text-align: center;
    width: 15px;
}
ul.datemenu li:hover>a.dir span {
    visibility: visible;
}
ul.datemenu ul span, ul.datemenu ul span:visited {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    line-height: 14px;
    text-align: left;
    font-family: "pn-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    padding: 10px;
    outline: none;
}
ul.datemenu ul span:hover, ul.datemenu ul span:active {
    background-color: #21c0e8;
    color: #fff;
    text-decoration: none;
    outline: none;
}
ul.datemenu ul li {
    background-color: transparent;
    color: #000;
    line-height: 13px;
}
ul.datemenu ul li {
    float: none;
}
ul.datemenu ul span, ul.datemenu ul span:visited {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    line-height: 14px;
    text-align: left;
    font-family: "pn-regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    padding: 10px;
    outline: none;
}

@media (min-width: 1200px){
    ul.datemenu a.dir {
        padding: 2px 9px 5px 9px!important;
    }
}
@media (max-width: 979px){
    .whitebar {
        display: none;
    }
}    

.footer {
    border-top: 4px solid #20c0e8;
    background: #282f37;
    color: #87909a;
    margin-top: 3%;
}
.container {
    margin-right: auto;
    margin-left: auto;
}
.hide {
    display: none;
}
.home-footer1 {
    padding: 0;
    margin: 15px 0;
}
@media (min-width: 1200px){
    .span3 {
        width: 270px;
    }
}    
@media (min-width: 1200px){
[class*=span] {
    float: left;
    min-height: 1px;
    margin-left: 30px;
    }
}    
@media (min-width: 1200px){
    .row {
        margin-left: -30px;
    }
}
.custom-footer-head-title, .home-footer1 .footer-head-title, .home-footer2 .footer-head-title {
    font-family:pn-semibold,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: capitalize!important;
    font-size: 1.2rem!important;
}
.footer h3, .footer h5 {
    font-size: 14px;
    color: #fff;
    font-family: pn-semibold,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 20px;
}
.footer h3, .footer h5 {
    font-size: 14px;
    color: #fff;
    font-family: pn-semibold,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 20px;
}
.home-footer1 li {
    line-height: 22px;
}
.footer a {
    color: #ccc;
    font-size: 11px;
}
ol, ul {
    padding: 0;
    margin: 0 0 10px 25px;
}
.home-footer-links {
    list-style: none;
    margin-left: 10px;
}
.home-footer2{
    margin: 15px 0 0 60px;
}
.home-footer2 ul{
    list-style:none;
    display: inline-block;
    margin-left: 10px;
}
.home-footer2 li{
    float: left;
    font-size: 13px;
    padding-right: 20px;
    line-height: 2;
    width: 100px;
}
.home-footer2 li a{
    color: #ccc;
}
.custom-footer-section{
    padding: 0;
}
.custom-footer-section .footer-link-cont{
    padding-left: 8px;
}
.footer h3{
    color:#fff;
    font-family:pn-semibold,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 20px;
}
.custom-footer-ul{
    margin: 0;
}
.custom-footer-ul li{
    display: inline-block;
    line-height: 30px;
}
.custom-footer-ul li:not(:last-child):after {
    content: "|";
    padding: 0 10px;
}
@media (max-width: 767px){
    .footer .ft1span3 {
        float: left;
        margin: 10px 0;
        width: 40%;
    }
}
@media (min-width: 1200px){
    .span12 {
        width: 1170px;
    }
}
@media (min-width: 1200px){
[class*=span] {
    float: left;
    min-height: 1px;
    margin-left: 30px;
    }
}
.home-footer3{
    margin: 15px 0;
}
.home-footer3 ul{
    list-style: none;
    display: inline-block;
}
.home-footer3 li{
    float: left;
    font-size: 13px;
    padding-right: 20px;
    line-height: 2;
}
.container:after, .container:before {
    display: table;
    content: "";
    line-height: 0;
}
.home-footer4{
    padding: 10px 0;
    background: #2e363f;
    height: 100px;
    text-align: center;
}
.pull-right{
    float: right;
}
.btn-topbar{
    border: 1px solid #404b55 !important;
    display: inline-block !important;
    width: 33px !important;
    height: 30px !important;
    font-size: 15px !important;
    line-height: 30px !important;
    box-shadow: none !important;
    padding: 0 !important;
}
.fold {
    padding: 40px 0;
}
.event-fold {
    border-top: 2px solid #eee;
}
.events-style-resgrid {
    margin-bottom: 50px;
    float: left;
    width: 100%;
}
.events-style-resgrid .head-label {
    text-align: center;
    margin-bottom: 25px;
    padding: 0 15px;
}
.events-style-resgrid .resgrid-row {
    position: relative;
    float: left;
    width: 100%;
}
.events-style-resgrid .resgrid-ul {
    margin: 0;
}
.events-style-resgrid .item {
    background: #fff;
    float: none;
    text-align: left;
    margin: 1.25%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0;
    display: inline-block;
    white-space: normal;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 5px #ddd;
}
.events-style-resgrid .item .meta {
    padding: 20px 10px 10px;
    line-height: 20px;
    float: left;
    background: #fff;
    box-sizing: border-box;
    border-top: 1px inset rgba(0,0,0,0.1);
    height: 130px;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    border: none;
    text-align: left;
}
.events-style-resgrid .title {
    font-size: 14px;
    font-family: pn-semibold;
    color: #2e363f;
    width: 100%;
    display: block;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}
.meta-left {
    float: left;
    width: 20%;
    box-sizing: border-box;
    line-height: 1.5;
}
.meta-right {
    float: left;
    width: 80%;
    box-sizing: border-box;
    line-height: 1.5;
}
.up-month {
    color: #FD3B08;
    text-transform: uppercase;
    display: block;
    font-family: "pn-semibold";
    font-size: 16px;
    text-align: center;
    padding-right: 10px;
}
.up-day {
    color: #555;
    display: block;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    padding-right: 10px;
}
.meta-right .up-venue, .meta-right .up-time-display {
    width: 100%;
    float: left;
    font-size: 12px;
    color: #999;
    line-height: 1.5;
    margin: 2px 0;
}


@media (min-width: 1200px){
    .events-style-resgrid .item {
        min-height: 170px;
    }
}
@media (min-width: 986px){
    .events-style-resgrid .item {
        width: 30%!important;
        margin: 1.5%!important;
    }
}

.side-box-list-time {
    margin: 0;
}
.side-box-list-time li {
    list-style: none;
    display: inline-block;
    margin: 2px;
    border: 1px solid #ddd;
}
.side-box-list-time li a {
    display: inline-block;
    padding: 5px 8px;
    background: #fff;
    text-decoration: none;
}
.subscribe-fold {
    border-top: 1px solid #f5f5f5;
    background: linear-gradient(45deg,#2a363f 0,rgba(48,64,77,.89) 100%),url(//cdn5.allevents.in/new/images/vg/backcollage.jpg);
    color: #fff;
}
.subscribe-fold h3 {
    color: #fff;
}
.subscribe-fold .right {
    position: relative;
    padding: 25px 30px 15px;
    background: #28363f;
    border-radius: 5px;
    border: 1px solid rgba(50,197,235,.46);
    margin-top: 10px;
}
.subscribe-fold .email-input {
    margin: 0;
    height: 45px;
    line-height: 45px;
    padding: 5px 15px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 3px;
    font-size: 16px;
}
.subscribe-fold .sub-action-btn {
    position: absolute;
    right: 30px;
    border-radius: 0 3px 3px 0;
    top: 25px;
}
.subscribe-fold .subline {
    margin-top: 10px;
    color: #ddd;
    font-size: 12px;
    text-align: center;
}
.popular-org .org-list {
    list-style: none;
    text-align: center;
    margin: 0;
}
.popular-org .org-item .left {
    width: 75px;
    float: left;
}
.popular-org .org-item .left img {
    height: 75px;
    width: 75px;
    max-height: 75px;
}
.popular-org .org-list .org-item {
    display: inline-block;
    margin: 5px;
    border: 1px solid #ddd;
    overflow: hidden;
    box-sizing: border-box;
}

@media (min-width: 1200px){
    .popular-org .org-list .org-item {
        width: 23%;
    }
}    
@media (min-width: 1200px){
    .span6 {
        width: 570px;
    }
}    
@media (min-width: 1200px){
[class*=span] {
    float: left;
    min-height: 1px;
    margin-left: 30px;
    }
}
@media (min-width: 1200px){
    .span6 {
        width: 570px;
    }
}    
@media (min-width: 1200px){
[class*=span] {
    float: left;
    min-height: 1px;
    margin-left: 30px;
    }
}
@media (max-width: 767px){
    .footer .cpy-right {
        text-align: center!important;
        margin: 10px 0!important;
    }
}
@media (max-width: 767px){
    .footer .footer-social {
        float: none;
    }
} 